*{
    box-sizing: border-box;
}
#main{
    width: 76%;
    margin: 0 auto;
}
.row{
    width: 100%;
    clear: both;
}
.col-2{
    width: 30vw;
    height:45vw;
    float: left;
    overflow: hidden;
}
.col-2 img{
    max-width: 100%;
}
.col-3{
    width: 45vw;
    float: left;
}
.rect {
    width: 30vw;
    height:15vw;
    background-color: #7d8685;
    float: left;

}

.square {
    text-align: center;
    line-height:15vw;
    width: 15vw;
    height:15vw;
    background-color: #222;
    float: left;
}

.beige{
    background-color: #d9a679;
}
.terre{
    background-color: #a1614e;
}
.bordeaux{
    background-color: #842136;
}
.brun{
    background-color: #5b2424;
}